SECRET_KEY=c5c(kd4sjxv$oh47%yr)--qhy@8o)310!@wltt-gzcx3ya(ikz
DEBUG=False
ALLOWED_HOSTS='*'
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
